# Node modules
node_modules/

# Output directory
dist/

# TypeScript cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/
